<div class="configuration">
  <fieldset class="configuration__fieldset">
    {{#if isRange}}
      <div class="configuration__value">
        <label class="configuration__label"> Текущее значение
          <input class="configuration__value-input js-configuration__value-input_type_current-value" type="number" />
        </label>
      </div>
    {{else}}
      <div class="configuration__value">
        <label class="configuration__label">Текущее минимальное значение
          <input class="configuration__value-input js-configuration__value-input_type_current-min-value" type="number" />
        </label>
      </div>
      <div class="configuration__value">
        <label class="configuration__label">Текущее максимальное значение
          <input class="configuration__value-input js-configuration__value-input_type_current-max-value" type="number" />
        </label>
      </div>
    {{/if}}
    {{#each valueInputs}}
      <div class="configuration__value">
        <label class="configuration__label">{{this.label}}
          {{#if this.minValue}}
            <input class="configuration__value-input js-configuration__value-input_type_{{this.type}}" type="number"min="{{this.minValue}}" />
          {{else}}
            <input class="configuration__value-input js-configuration__value-input_type_{{this.type}}" type="number" />
          {{/if}}
        </label>
      </div>
    {{/each}}
  </fieldset>
  <fieldset class="configuration__fieldset">
    {{#each checkboxInputs}}
      <div class="configuration__checkbox">
        <label class="configuration__label">{{this.label}}
          <input class="configuration__checkbox-input js-configuration__value-input_type_{{this.type}}" type="checkbox" />
        </label>
      </div>
    {{/each}}
  </fieldset>
</div>